.wrapper {
    background-color: var(--color-grey);


}

.contact {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 600px;
    padding: 2rem 4rem;
    grid-row-gap: 2rem;
    ;

    h2 {
        grid-column: span 12;
        margin: 0;
    }


    form {
        display: flex;
        flex-direction: column;
        grid-column: span 12;

        input {
            padding: 1rem 2rem;
            margin-bottom: 0.5rem;
        }

        div {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
        }
    }

    label {
        margin-bottom: 1rem;
        text-transform: capitalize;
        font-family: var(--font-posh);
        font-size: 1.25rem;
        font-weight: bold;
    }



}