button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 0.5rem 1rem;

    font-size: 1.25rem;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 2px 5px var(--color-dark);
}