.info {
    display: flex;

    h4 {
        font-size: 2rem;
        font-family: var(--font-posh);
        color: var(--color-white);
    }

    .about {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
            url('../../images/about-1.jpg');
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20rem;
        color: var(--color-white);

    }

    .stores {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
            url('../../images/home.jpg');
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20rem;
        color: var(--color-white);
    }

    a {
        text-transform: capitalize;
        box-shadow: none;
    }
}