.newsletter {
    background-color: var(--color-grey);
    padding: 1rem 2rem;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 37rem;
        margin: 0 auto;
        text-align: center;

        label {
            font-family: var(--font-posh);
            font-weight: bold;
            font-size: 1.5rem;
            text-transform: capitalize;
        }

        input {
            width: 90%;
            padding: 0.5rem 1rem;
            margin: 1rem 0;
        }


    }


}