.about {
    width: 50%;
    background-color: red;
    display: inline-block;
    color: var(--color-white);
    text-align: center;
    background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
        url('../../images/home.jpg');
    background-position: center;
    background-size: cover;
    height: 12.5rem;
    margin-top: auto;

    &:nth-of-type(2) {
        background-image:
            linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
            url('../../images/mens-card.jpg');
    }

    h4 {
        text-transform: capitalize;
    }
}